.board {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: fit-content;
}

.board-button {
    color: white !important;
    background-color: #2A1CAAFF !important;
    margin: 0px 2px 0px;
    font-weight: 500;
}

.board-button:focus,
.board-button:hover {
    background-color: #7060FFFF !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}