.board {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    -webkit-animation: fadeIn 0.3s ease-in;
    -moz-animation: fadeIn 0.3s ease-in;
    -ms-animation: fadeIn 0.3s ease-in;
    -o-animation: fadeIn 0.3s ease-in;
    animation: fadeIn 0.3s ease-in;
}

.board-panel {
    outline: none;
    margin: auto;
    width: fit-content;
}

.board-control {
    margin: 0px 10%;
}

.board-button {
    color: white !important;
    background-color: #2A1CAAFF !important;
    margin: 0px 2px 0px;
    font-weight: 500;
}

.board-button:focus,
.board-button:hover {
    background-color: #7060FFFF !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}