.key-button {
    background-color: #FFFFFF00 !important;
    border: 0px solid #FFFFFF00 !important;
    margin: 5px 2px;
    text-align: center;
    font-weight: 500;
    padding: 0;
}

.key-button:hover {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

@media only screen and (max-width: 600px) {
    .key-button {
        height: 50px;
        width: 45px;
        font-size: 26px;
        line-height: 50px;
    }

    .key-button:hover {
        font-size: 32px;
    }
}

@media only screen and (min-width: 600px) {
    .key-button {
        height: 60px;
        width: 55px;
        font-size: 28px;
        line-height: 60px;
    }

    .key-button:hover {
        font-size: 35px;
    }
}

@media only screen and (min-width: 768px) {
    .key-button {
        height: 75px;
        width: 65px;
        font-size: 35px;
        line-height: 75px;
    }

    .key-button:hover {
        font-size: 45px;
    }
}