.wordbox {
    background: #00000000;
    color: #606060FF;
    font-weight: 500;
    outline: none;
    border: 2px solid #FFFFFF00;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.wordbox:hover {
    border: 2px solid #C0C0C0FF;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.wordbox:focus {
    background: #FFFFFFFF;
    box-shadow: 0px 0px 15px #00000020;
    color: #000000FF;
    font-weight: 650;
    /* border: 2px solid #7060FFFF; */
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.charbox {
    background: #FFFFFF00;
    border-top: 2px solid #FFFFFF00;
    border-bottom: 2px solid #606060FF;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    -webkit-animation: fadeIn 0.3s ease-in;
    -moz-animation: fadeIn 0.3s ease-in;
    -ms-animation: fadeIn 0.3s ease-in;
    -o-animation: fadeIn 0.3s ease-in;
    animation: fadeIn 0.3s ease-in;
}

.charbox-hint {
    border: 2px solid #FFFFFF00;
    background: #00000010;
    color: #606060FF;
    -webkit-transition: all 0.05s ease-in;
    -moz-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
}

.charbox-overlap {
    border-bottom-width: 5px;
    border-bottom-style: double;
    -webkit-transition: all 0.05s ease-in;
    -moz-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
}

.charbox:hover {
    border-top: 2px solid #C0C0C0FF;
    border-left: 2px solid #C0C0C0FF;
    border-right: 2px solid #C0C0C0FF;
    border-bottom-color: #C0C0C0FF;
    -webkit-transition: all 0.05s ease-in;
    -moz-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
}

.charbox-current,
.charbox:focus {
    border-top: 2px solid #7060FFFF !important;
    border-left: 2px solid #7060FFFF !important;
    border-right: 2px solid #7060FFFF !important;
    border-bottom-color: #7060FFFF !important;
    -webkit-transition: all 0.05s ease-in;
    -moz-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
}

@keyframes fontZoom {
    from {font-size: 120%;}
    to {font-size: 100%;}
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media only screen and (max-width: 600px) {
    .charbox {
        font-size: 30px;
        line-height: 45px;
        height: 45px;
        width: 45px;
    }
}

@media only screen and (min-width: 600px) {
    .charbox {
        font-size: 40px;
        line-height: 60px;
        height: 60px;
        width: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .charbox {
        font-size: 50px;
        line-height: 80px;
        height: 80px;
        width: 80px;
    }
}